{% extends "user/base.twig" %}

{% block content %}
    <h1>{{ t('User list', 'user') }}</h1>

    <ul>
    {% for model in models %}
        <li><a href="{{ model.getAbsoluteUrl() }}">{{ model }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
