{% extends request.isAjax ? 'ajax.html' : 'user/base.html' %}

{% block content %}
    <div class="login-form">
        <h1>{{ t('Login', 'user') }}</h1>

        <form action="" method="post">
            {% csrf_token %}
            {{ form|safe }}

            <div class="row submit">
                <div class="button-holder">
                    <button type="submit" class="button">{{ t('Login', 'user') }}</button>
                </div>
                <div class="links-holder">
                    <a href="{% url 'user.registration' %}">{{ t('Registration', 'user') }}</a>
                    <a href="{% url 'user.recover' %}">{{ t('Lost password?', 'user') }}</a>
                </div>
                <p class="clear"></p>
            </div>
        </form>
    </div>
{% endblock %}
